<app-menu></app-menu>

<div class="modal fade" [ngClass]="{'show-login' : !isSignedIn()}" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Inicia sesión</h5>
        </div>
        <div class="modal-body">
            <label for="email">Email</label>
            <input type="text" name="email" [(ngModel)]="email"/>
            <label for="password">Contraseña</label>
            <input type="password" name="password" [(ngModel)]="password"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="login()">Entrar</button>
        </div>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>
