/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.top-20 {
    margin-top: 20px;
}
.center-content {
    text-align: center;
}
.show-login{
    display: block;
    opacity: 1;
    padding-top: 10vh;
}
